<div class="container p-5">
  <div class="row">

    <div class="col-12 col-md-8">

      <p style="text-align: center; font-size: 16px;">Hello, my name is Julia, I am a graphic and UI/UX designer based in Moscow. 🦄👩🏻‍💻</p>

      <p style="text-align: center; font-size: 20px;">I will create for you:</p>

      <ul class="skills">
        <li>Logo Design &amp; Corporate Brand Development (Brand Boards, Business Cards etc.)</li>
        <li>Digital Marketing Graphic Design (Web Banners, Icons, GIFs, Ads etc.)</li>
        <li>Infographics &amp; Advertising Materials</li>
        <li>Printed Media (Posters, Brochures etc.)</li>
        <li>Layout Design (Magazines, Menus, Ebooks)</li>
        <li>T-shirt Design</li>
        <li>Photo Editing</li>
        <li>Front-End Web and Mobile Application UI/UX</li>
      </ul>

      <p style="text-align: center; font-size: 20px;">Adobe XD • Illustrator • InDesign • Photoshop</p>

      <p>Every client is unique. I pledge consistent communication with each client to warrant the end-result that is tailored to your needs.</p>

      <p>I offer 2 years of professional experience in industries: Eco Industry, Event Management, Fashion, Healthcare, Tech.</p>

      <p>I offer to my prospective partners a free 15-min consultation. Looking forward to hearing from you!</p>

      <h3 style="padding-top: 40px">Certificates</h3>

      <ul>
        <li><a href="/assets/certificates/diploma.pdf">Диплом по специальности</a></li>
        <li><a href="/assets/certificates/cert.pdf">Сертификат: история дизайна</a></li>
        <li><a href="/assets/certificates/netology.pdf">Сертификат: основы графического дизайна</a></li>
      </ul>

    </div>

    <div class="col-12 col-md-4">
      <div class="md-px-4">
        <div>JULIA KURENKOVA</div>
        <div>Bolshoy Afanasyevskiy Pereulok, 16/8</div>
        <div>119019 Moscow</div>
        <div>Russia</div>
        <br>
        <div>EMAIL:</div>
        <div><a href="mailto:kurenkova.design@gmail.com">kurenkova.design@gmail.com</a></div>
      </div>
    </div>

  </div>
</div>
