<div class="container p-5">
  <div class="row">

    <div class="col-12 col-md-8">

      <h2>Сертификаты</h2>

      <ul>
        <li><a href="/assets/certificates/diploma.pdf">Диплом по специальности</a></li>
        <li><a href="/assets/certificates/cert.pdf">Сертификат: история дизайна </a></li>
        <li><a href="/assets/certificates/netology.pdf">Сертификат: основы графического дизайна</a></li>
      </ul>

    </div>

    <div class="col-12 col-md-4">
      <div>JULIA KURENKOVA</div>
      <div>Bolshoy Afanasyevskiy Pereulok, 16/8</div>
      <div>119019 Moscow</div>
      <div>Russia</div>
      <br>
      <div>PHONE:</div>
      <div><a href="tel:+7 985 666 31 71">+7 985 666 31 71</a></div>
      <br>
      <div>EMAIL:</div>
      <div><a href="mailto:kurenkova.design@gmail.com">kurenkova.design@gmail.com</a></div>
    </div>

  </div>
</div>
