ul {
  padding-left: 0;
  padding-top: 10px;
}

li {
  list-style: none;
  margin-bottom: 5px;
}

ul.skills {
  padding-top: 0;
  li {
    list-style: inside;
  }  
}

img.me {
  border-radius: 50%;
  margin-bottom: 32px;
  max-width: 120px;
}