<div class="container p-5">
  <div class="row">
    <div class="col-12 col-md-8 mb-5">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut facilis molestias porro sunt? A aliquam et neque. Autem beatae cumque delectus, deserunt eveniet ex id incidunt libero mollitia
        nemo nihil numquam quae quaerat quam quod sapiente sunt, tempora vitae voluptatum?</p>
      <p>Nobis officia, quisquam repudiandae sequi sint tenetur? Accusamus adipisci at autem deleniti dolorem eius eos excepturi harum, id illo illum libero magnam minus odio odit perferendis
        perspiciatis porro provident quae quaerat quas quos recusandae, repellat repellendus rerum suscipit tempore voluptate?</p>
    </div>
    <div class="col-12 col-md-4">
      <div>JULIA KURENKOVA</div>
      <div>Bolshoy Afanasyevskiy Pereulok, 16/8</div>
      <div>119019 Moscow</div>
      <div>Russia</div>
      <br>
      <div>PHONE:</div>
      <div><a href="tel:+7 985 666 31 71">+7 985 666 31 71</a></div>
      <br>
      <div>EMAIL:</div>
      <div><a href="mailto:kurenkova.design@gmail.com">kurenkova.design@gmail.com</a></div>
      <br>
      <div>Instagram: @noirgeisha</div>
      <div>Facebook</div>
      <div>Vimeo</div>
    </div>
  </div>
</div>
