<div class="p-4">
  <h1>Advertising</h1>
  <h1>Corporate Design</h1>
  <h1>Layout Design</h1>
  <h1>UI/UX Design</h1>
  <h1>Posters</h1>
  <div class="row">
    <div class="col-12 col-md-3 mb-4 mb-md-0" *ngFor="let item of items">
      <div (click)="router.navigate(['/portfolio/' + item.name])" class="item">
        <img class="img-fluid" [src]="'/assets/images/' + item.name + '.jpg'" alt="">
        <div class="content">
          <div class="content-inside text-center font-weight-bold">
            <div class="content-name">{{item.title}}</div>
            <div>–</div>
            <div class="content-description">{{item.shortdescription}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
